/* Estilos para la barra de navegación */
body {
	font-family: 'Poppins', sans-serif;
  background-color: #761240;
  margin: 0px;
  padding: 0px;
}

.navbar .container-fluid p{
	margin: 0px 5px;
	color: white;
}

header .navbar, footer {
	background-color: #761240;
}

.nav-link, .fa-shopping-cart, .fa-bell, .fa-moon, footer .text-footer, .fa-facebook-f, .fa-twitter, .fa-google, .fa-instagram, .fa-linkedin, .fa-github, .navbar-toggler, .fa-user{
	color: white;
}

/* Información general */

.imagenes {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.info-general {
	/*flex: 1; /* Hace que los articulos se expandan para llenar el espacio en blanco */
	margin: 20px; /* Agrega un margen alrededor de cada articulo */
	text-align: left; /* Alinea el texto a la izquierda de cada articulo */
	/*max-width: 100%; /* Hace que las imagenes ocupen todo el ancho de la pantalla*/
  max-width: 200px;
  min-width: 100px;
  max-height: 200px;
  min-height: 100px;
	height: auto; /* Se ajusta automáticamente a la altura del navegador */
	border-radius: 10px; /* Nos ayuda a redondear los bordes de las imagenes */
}


/* Estilos para la galería */
.galeria-imagenes {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; 
  background-color: #761240;
  /* background-color: #f8f9fa; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  }
  
.carousel-item img {
  height: 390px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.galeria-imagenes h1 {
  color: white;
  text-align: center;
}